@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-bounce {
    animation: bounce 1s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(-10%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.scrollable-form {
    max-height: 450px;
    /* Atur tinggi maksimum sesuai kebutuhan */
    overflow-y: auto;
    /* Menambahkan scroll jika konten melebihi tinggi */
}

.custom-timer-progress-bar {
    background-color: #0D47A1 !important;
}

.custom-timer-progress-bar-failed {
    background-color: red !important;
}

.title-success {
    color: #0D47A1 !important;
}

.title-failed {
    color: red !important;
}

.blurSidebar {
    background: rgba(248, 248, 255, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    border-radius: 10px;
}

.blurSidebar2 {
    background: rgba(15, 23, 42, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.blurSidebar3 {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    border-radius: 10px;
}

ul.slick-dots {
    bottom: -50px;
}

.dark .slick-dots li button:before {
    color: #7BC9FF !important;
}

.slick-dots li.slick-active button:before {
    color: white !important;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Transition for content */
.transition-opacity {
    opacity: 0;
}

.transition-opacity.transition-opacity-enter {
    opacity: 1;
}



.sidebar-container input:checked~header .burger>label>div:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
}

.sidebar-container input:checked~header .burger>label>div:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
}

.sidebar-container input:checked~header .burger>label>div:nth-child(2) {
    transform: scale(0);
    opacity: 0;
}