@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable-form {
    max-height: 450px;
    /* Atur tinggi maksimum sesuai kebutuhan */
    overflow-y: auto;
    /* Menambahkan scroll jika konten melebihi tinggi */
}

.custom-timer-progress-bar {
    background-color: #0D47A1 !important;
}

.custom-timer-progress-bar-failed {
    background-color: red !important;
}

.title-success {
    color: #0D47A1 !important;
}

.title-failed {
    color: red !important;
}

.blurSidebar {
    background: rgba(248, 248, 255, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    border-radius: 10px;
}

.blurSidebar2 {
    background: rgba(15, 23, 42, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

ul.slick-dots {
    bottom: -50px;
}

.dark .slick-dots li button:before {
    color: #7BC9FF !important;
}

.slick-dots li.slick-active button:before {
    color: white !important;
}